body{
    text-rendering: auto;
    margin: 100px 40px 40px 40px;
    background-color: #fffef7;
}

.main{
    
    
}



.subtitle{
    border-bottom: solid;
    display: inline-block;
}

h1{
    margin-left: 25px;
    margin-top: 125px;
    ding-top: 15px;
}

h3{
    
}

.line{
    
    border-top: solid 1px #e0e0e0;

}

.image{
    width : 38vw ;
    padding-right: 5px;
}


.individual{
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1px 10px 10px 20px;
    box-shadow: 0 0 8px gray;
}

.flex{
    display: flex;
    justify-content: space-between;
    
    border-top: solid 1px #e0e0e0;
    padding-top: 15px;
}
.flex>p{
    width: 49%;
}



/*header*/
header{
    left:0px;
    display:inline-block;
    width:100%;
    border-top: 7px solid #ffe454;
    box-shadow: 0 0 8px gray;
    position:fixed;
    top:0;
    box-sizing:border-box;
    padding:20px;
    background-color:#ffffff;
    z-index:500;
}
.followed-top{
    text-align:center
}
a {
    color:black;
    text-decoration:none;
}

.anchor{
    cursor:pointer;
    color:black;
    margin: auto;
    font-weight: 700;
    font-size: 14px;
}
.each-hidden{
    display: inline-flex;
}

.img-hidden {
    display:inline-block;
    height: 80px;
    margin: 20px 40px 120px 0px;
}
.img-hidden img{
    height: 200%;
}

.ul-header{ 
    display:flex;
    align-content: center;
}
.li-header {
    left:0px;
    margin-top: 23px;
    position: absolute;
    background-color: #ffffff;
    padding: 4px;
    width: 100%;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 20%);
    box-shadow: -1px 7px 10px rgb(0 0 0 / 20%);

}

a:hover + .li-header, .li-header:hover { 
    display: inline-block ;
}

#id1, #id2, #id3, #id4, #id5 ,#id6, #id7{
    padding-top:120px;
}

#id1>a ,#id2>a, #id3>a, #id4>a, #id5>a ,#id6>a ,#id7>a{
    margin-top:-120px;
}

footer{
    padding:40px;
    border-top: 1px solid rgb(0 0 0 / 20%);
    background-color: #444d56;
    text-align: center;
}

footer>h3{
    display: inline;
    color: #ffffff;
}