body{
    
}

.main{
    
    
}

.img_MHA{
    width : 38vw ;
    padding-right: 5px;
}

.img_jujutu{
    width : 38vw ;
    padding-right: 5px;
}

.img_bclover{
    width : 38vw ;
    padding-right: 5px;
}

.individual{
    border-radius: 10px;
    background-color: #fafca5;
    padding: 1px 10px 10px 20px;
    
}

.flex{
    display: flex;
    justify-content: space-between;
}
.flex>p{
    width: 49%;
}