body {
    text-rendering: auto;
    mergin-top : 100px
}
.red{
    color:red
}

h1{
    color: #0ac0d8;
}

.keitou{
    background-color: #ffffff;
}

/*必要に応じてtext-decoration:none;*/
.header{
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    position:fixed;
    top:0;
    box-sizing:border-box;
    height:100px;
    padding:20px;
    background-color:rgb(236, 232, 232);
    z-index:500;
}

a {
    color:black;
}

.anchor{
    color:black;
    margin: auto;
}
.each-hidden{
    display: inline-flex;
}

.img-hidden {
    display:inline-block;
    height: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.img-hidden img{
    height: 200%;
}

.ul-header{ 
    display:inline-flex;
    align-content: center;
}
.li-header {
    position: absolute;
    background: #ffffff;
    padding: 4px;
    width: 1500px;
    display: none;
    box-shadow: -1px 7px 10px rgb(0 0 0 / 20%);

}

a:hover + .li-header, .li-header:hover { 
    display: inline-block 
}


